[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
Assets/_Project/ImportedDecoded.zip
Tools/AssetRipper/AssetRipper.GUI.Free.exe
Assets/_Project/Docs/BackendDecode/Il2CppDump/script.json
Assets/_Project/Docs/BackendDecode/Il2CppDump_Full~/libil2cpp.so
Assets/_Project/Docs/BackendDecode/Il2CppDump/il2cpp.h
